<!DOCTYPE html>
<html ng-app="hwvr-app">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript" src="login/loginPage.js">
</script>
<title>howEver</title>
</head>
<body>
	<app-root>HowEver</app-root>
	<div class="container" ng-controller="loginController">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<!-- <h4 style="border-bottom: 1px solid #c5c5c5;">
					<i class="glyphicon glyphicon-user"> </i> Account Access
				</h4> -->
				<div style="padding: 20px;" id="form-olvidado">
					<form accept-charset="UTF-8" role="form" id="login-form">
						<fieldset>
							<legend>Account Access</legend>
							<div class="form-group input-group">
								<span class="input-group-addon glyphicon glyphicon-user"></span>
								<input class="form-control" placeholder="Email" name="email"
									ng-model="loginEmail" type="email" required="" autofocus="">
							</div>
							<div class="form-group input-group">
								<span class="input-group-addon"> <i
									class="glyphicon glyphicon-lock"> </i>
								</span> <input class="form-control" placeholder="Password"
									name="password" type="password" value="" ng-model="loginPass"
									required="" /> <span class="input-group-addon">
									<button title="Ver Contraseña"
										class="glyphicon glyphicon-eye-open"
										ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
								</span>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block"
									ng-click="createUser()">Access</button>
								<p class="help-block">
									<a class="pull-right text-muted" href="#" id="olvidado"><small>Forgot
											your password?</small></a>
								</p>
							</div>
						</fieldset>
						<div>
							<label>{{loginPass}}</label> <label>{{loginEmail}}</label>
						</div>
					</form>
				</div>
				<div style="display: none;" id="form-olvidado">
					<h4 class="">Forgot your password?</h4>
					<form accept-charset="UTF-8" role="form" id="login-recordar"
						method="post">
						<fieldset>
							<span class="help-block"> Email address you use to log in
								to your account <br> We'll send you an email with
								instructions to choose a new password.
							</span>
							<div class="form-group input-group">
								<span class="input-group-addon"> @ </span> <input
									class="form-control" placeholder="Email" name="email"
									type="email" required="">
							</div>
							<button type="submit" class="btn btn-primary btn-block"
								id="btn-olvidado">Continue</button>
							<p class="help-block">
								<a class="text-muted" href="#" id="acceso"><small>Account
										Access</small></a>
							</p>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>