<!--  Esto es identificador que es HTML 5 -->
<!doctype html>
<html ng-app="hwvr-app">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script type="text/javascript" src="login/loginPage.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
	

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<meta charset="utf-8">
<title>HowEverJS</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
	<!-- 	<app-root>HowEver</app-root> -->
	<title>HowEver</title>
	<div align="center">
		<h2 class="container">Iniciar Sesión en HowEver</h2>
		<div class="jumbotron">
			<form class="form-singin">
				<div>
					<!-- for alineado con el Input con id=user -->
					<label for="user" class="">Usuario:</label> 
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<input type="text" class="form-control" ng-model="loginEmail"
						name="user" id="user" tabindex="1" autocorrect="off"
						spellcheck="false" autocapitalize="off" autofocus="autofocus"
						placeholder="p. ej.: john.doe@elgnomo.es">

				</div>
				<div align="center">
					<label for="password" align="left">Contraseña</label> <input
						type="{{passType}}" ng-model="loginPass" name="password"
						id="password" tabindex="2" placeholder="p. ej., ••••••••••••">
					<input class="{{}}}"type="checkbox" id="checkbox" ng-model="passwordCheckbox"
						ng-click="hideShowPassword()" /> <label for="checkbox"
						ng-if="passwordCheckbox">Hide password</label> <label
						for="checkbox" ng-if="!passwordCheckbox">Show password</label> <input
						type="button" value="Iniciar Session"></input>
				</div>

				<div ng-controller="loginController">
					<input type="button" value="Iniciar Con Cuenta Google"></input>
					<button ng-click="login()">test</button>
					<br/>
				</div>
				<label>{{loginPass}}</label> <label>{{loginEmail}}</label>
				<div>
					<span>No tiene Cuenta...<a class="btn btn-lg btn-success"
						href="/create">Registrate en segundos...</a></span>
				</div>
			</form>
		</div>
	</div>
	<!-- <div id="feedly-mini" title="feedly Mini tookit"></div> -->
</body>
</html>
