<!DOCTYPE html>
<html ng-app='hwvr-app'>
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script type="text/javascript" src="login/registerPage.js"></script>
<link rel="stylesheet" href="/css/hwrStyles.css">
<link rel="icon" type="image/png" href="login/howEver2.png">
<title>However</title>
</head>
<body ng-controller="registerController" bgcolor="">
	<nav>
		<ul>
			<li><a href="home.html">Home</a>
				<ul>
					<li><a href="presentation.html">presentation</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="shop.html">shop</a>
				<ul>
					<li><a href="candy.html">candy</a></li>
					<li><a href="chocolate.html">chocolate</a></li>
					<li><a href="icecream.html">ice cream</a></li>
				</ul></li>
			<li><a href="news.html">News</a></li>
		</ul>
	</nav>
	<form action="index.html" method="post" >
		<span> <img src="login/howEver2.png" height="50px" width="50px" />
			<h2>However</h2></span>
		<h3 ng-model="Text01">{{Text01}}</h3>
		<fieldset>
			<label for="user">Nombre Usuario</label> <input id="user" type="text"
				placeholder="Usuario..." /> <label for="email">Dirección de
				Correo</label> <input id="email" type="type"
				placeholder="Dirección de Correo..." ng-model="email" /> <label
				for="confirm">Confirmar dirección de correo</label> <input
				type="text" id="confirm" ng-model="emailConfirm"> <label
				for="password">Contraseña</label> <input type="password"
				id="password" ng-model="password" placeholder="Contraseña" /> <input
				type="button" value="Registrarte" ng-click="createUser()" /> <label>{{email}}</label>
		</fieldset>
	</form>
	<a href="index.html">Volver..</a>
</body>
</html>