<!DOCTYPE html>
<html ng-app='hwvr-app'>
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script type="text/javascript" src="login/registerPage.js"></script>
<link rel="icon" type="image/png" href="login/howEver2.png">
<link rel="stylesheet" href="/css/hwrStyles.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
	integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
	crossorigin="anonymous">

<title>However</title>
</head>
<body ng-controller="registerController" bgcolor="">
	<nav>
		<ul>
			<li><a href="home.html">Home</a>
				<ul>
					<li><a href="presentation.html">presentation</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="shop.html">shop</a>
				<ul>
					<li><a href="candy.html">candy</a></li>
					<li><a href="chocolate.html">chocolate</a></li>
					<li><a href="icecream.html">ice cream</a></li>
				</ul></li>
			<li><a href="news.html">News</a></li>
		</ul>
	</nav>
	
	<form class="form-login" action="login.html" method="post">
		<span><h2 class="login">
				<img src="login/howEver2.png" height="50px" width="50px" /> However
			</h2></span>
		<fieldset>
			<legend>Registrarse HowEver</legend>
			<div class="form-group">
				<input class="form-login" id="user" type="text"
					placeholder="Usuario..." />
			</div>
			<div class="form-group">
				<input id="email" class="form-login" type="type"
					placeholder="Dirección de Correo..." ng-model="email" />
			</div>
			<div class="form-group">
				<input class="form-login" type="text" id="confirm"
					ng-model="emailConfirm" placeholder="Confirmar Correo">
			</div>
			<div class="form-group">
				<input class="form-login" type="password" id="password"
					ng-model="password" placeholder="Contraseña" />
			</div>
			<div class="form-group">
				<input class="form-register" type="button" value="Registrarte"
					ng-click="createUser()" />
			</div>
			<label class="label-login">Ya tienes cuenta. <a
				href="login.html">Login..</a></label>
		</fieldset>
	</form>
</body>
</html>